src/main/mule/pokedex.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" 
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
                          http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c810b398-9513-4e34-9c24-40fffdc2e351" basePath="/pokedex">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>

    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="526ef477-bbaf-490c-8834-2f49c76f2c36" basePath="/api/v2/pokemon/">
        <http:request-connection host="pokeapi.co" />
    </http:request-config>

    <!-- Configuración de APIKit para referenciar el archivo RAML -->
    <apikit:config name="PokedexAPIConfig" raml="pokedex-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />

    <flow name="pokedexFlow" doc:id="f146c24b-5a18-4020-a869-9bc8e9a32475">
        <http:listener doc:name="HTTP Listener" doc:id="7883a413-5d5c-453c-9a64-b4d88894cebf" config-ref="HTTP_Listener_config" path="/api/{id}" allowedMethods="GET"/>
        
        <logger level="INFO" doc:name="Request Logger" doc:id="eeacf2c3-d456-43b5-82fb-f025193123c5" message="Peticion recibida de ID: #[message.attributes.uriParams.id] or Name: #[message.attributes.queryParams.name]"/>
        
        <choice doc:name="Choice">
            <when expression="#[message.attributes.queryParams.name != null]">
                <http:request method="GET" doc:name="HTTP Resquest by Name" doc:id="ee9609b0-7bd4-4b10-a446-ebd523aff6d0" config-ref="HTTP_Request_configuration" path="#[message.attributes.queryParams.name]"/>
                <set-variable variableName="apiResponse" value="#[payload]" doc:name="Set API Response"/>
                <ee:transform doc:name="Transform API Response by Name" doc:id="3e599b42-38fb-4922-92a5-aa63756e2e28">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    nombre: payload.forms[0].name,
    tipo: payload.types."type".name joinBy ",",
    peso: payload.weight,
    estatura: payload.height,
    ID: "#" ++ payload.id as String {format: "0000"},
    movimientos: payload.moves map ((move) -> move.move.name) joinBy ",",
    ataque: flatten(payload.stats filter ((item) -> item.stat.name == "attack")).base_stat[0],
    defensa: flatten(payload.stats filter ((item) -> item.stat.name == "defense")).base_stat[0],
    velocidad: flatten(payload.stats filter ((item) -> item.stat.name == "speed")).base_stat[0],
    fecha: now() as String {format: "HH:mm:ss dd-MM-yyyy"},
    areas: payload.location_area_encounters

}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <when expression="#[message.attributes.uriParams.id != null]">
                <http:request method="GET" doc:name="HTTP Request by ID" doc:id="510125d2-7304-47bb-9bfb-b3f1dbfd3f2a" config-ref="HTTP_Request_configuration" path="#[message.attributes.uriParams.id]"/>
                <set-variable variableName="apiResponse" value="#[payload]" doc:name="Set API Response"/>
                <ee:transform doc:name="Transform API Response by ID" doc:id="677df29d-cdbf-44e3-8848-dad056a552e8">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    nombre: payload.forms[0].name,
    tipo: payload.types."type".name,
    peso: payload.weight,
    estatura: payload.height,
    ID: "#" ++ payload.id as String {format: "0000"},
    movimientos: payload.moves map ((move) -> move.move.name) joinBy ",",
    ataque: flatten(payload.stats filter ((item) -> item.stat.name == "attack")).base_stat[0],
    defensa: flatten(payload.stats filter ((item) -> item.stat.name == "defense")).base_stat[0],
    velocidad: flatten(payload.stats filter ((item) -> item.stat.name == "speed")).base_stat[0],
    fecha: now() as String {format: "HH:mm:ss dd-MM-yyyy"},
    areas: payload.location_area_encounters

}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </when>
            <otherwise>
                <logger level="WARN" doc:name="Missing Parameter" doc:id="46b3e04b-02a7-431c-8af5-e89b50acc5de" message="La petición solicitada no es correcta"/>
            </otherwise>
        </choice>
        
        <!-- Manejador de Errores -->
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5bc0e6ca-0c8c-4c7a-b0c0-3017579db767">
                <logger level="ERROR" doc:name="Error Logger" message="Error: #[error.description]"/>
                <set-payload value='#[output application/json --- { error: error.description }]'/>
            </on-error-propagate>
        </error-handler>
    </flow>
</mule>
